*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#root{
  display: flex;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background-color: rgb(175, 202, 176);
  min-height: 100dvh;
  flex-direction: column;
}
body{
  width: 100%;
  background-color: gray;
}

main {
  flex: 1;
}

header{
  position: relative;
  width: 100%;
  background-color: rgb(195, 203, 196);

}

footer{
  text-align: center;
}

nav{
  padding: 8px auto;
  height: 30px;
  color: white;
  background-color: rgb(20, 35, 20);

}

