:root {
  --color-verde: rgb(175, 202, 176);
  --color-secundario: rgb(195, 203, 196);
  --color-gris: rgb(169, 172, 169);
  --color-primario: rgb(20, 35, 20);
  --color-blanco: white;
  --color-separador-claro: #eee;
  --color-bg-chat: #f5f8f5;
  --borde-claro: 1px solid var(--color-separador-claro);
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#root{
  display: flex;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background-color: var(--color-verde);
  min-height: 100dvh;
  flex-direction: column;
}

body{
  width: 100%;
  background-color: var(--color-gris);
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-primario);
}

main {
  flex: 1;
}

header{
  position: relative;
  width: 100%;
  background-color: var(--color-secundario);
  text-align: center;
}

footer{
  border-top: var(--borde-claro);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  background-color: var(--color-secundario);
}
